<%= form_for(@item) do |f| %>
<div class="form-group">
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
 
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :owner %><br>
    <%= f.text_area :owner, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :type %><br>
    
    <select name="type_id" id="type_id" class="form-control">
      <option value="1">book</option>
      <option value="2">clothing</option>
      <option value="3">cellphone</option>
      <option value="4">computer</option>
    </select>
    
  </div>
  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
